*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  padding: 2rem;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.55;
  box-sizing: border-box;
}

.profileHeader{
  font-weight: 400;
  font-size: 2.6rem;
  margin-left: 40%;
  margin-bottom: 3rem;
}


