/* bookCardList.js */
.bookCardList {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 12rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
}

/* boekenlijst.js */
.boekenlijstHeader {
  text-align: center;
  margin-top: 1.5rem;
}

/* bookCard.js */
.bookCard {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0.6rem 0.6rem 1.6rem black;
  border-radius: 0.5rem;
}
.bookCard__overlay {
  content: "Toegevoegd";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  border-radius: 0.5rem;
  transition: all 1s;
  top: 0;
}
.bookCard__figure {
  width: 100%;
  height: 100%;
}
.bookCard__figure__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.bookCard__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  height: 30%;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.bookCard__content__section {
  width: 70%;
  padding-left: 2rem;
  color: #eee;
  margin: auto 0;
}
.bookCard__content__section__title {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1rem;
}
.bookCard__content__section__info {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  font-weight: 500;
}
.bookCard__content__btnSection {
  width: 30%;
  position: relative;
}
.bookCard__content__btnSection__addButton {
  font-size: 3.2rem;
  border-radius: 0.5rem;
  background-color: #89C6FF;
  border: 0.5rem solid #89C6FF;
  height: 5rem;
  width: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
}

.hidden {
  height: 0%;
  opacity: 0;
}

.visible {
  height: 100%;
  opacity: 1;
}

@media (min-width: 768px) {
  .bookCardList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .bookCard {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1000px) {
  .bookCardList {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 80%;
    /* margin: 0 auto; */
  }

  .boekenlijstHeader {
    font-size: 6rem;
  }

  .bookCard {
    width: 100%;
    margin-left: 7.5%;
  }
  .bookCard__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    height: 25%;
  }
  .bookCard__content__btnSection__addButton:hover {
    border: 0.2rem solid black;
  }

  /* .bookCard__figure__img{
      width: 80%;
      margin: 10%;
      height: auto;
  } */
  /* .bookCard__section__title{
      font-weight: 400;
      font-size: 4rem;
      margin-top: 10%;
  }

  .bookCard__section__info{
      font-size: 2.8rem;
      margin-top: 0.5rem;
  }
  .bookCard__btnSection__addButton{
      font-size: 6rem;
      height: 40%;
      width: 40%;
      margin-top: 40%;
      margin-left: 20%;
  } */
}

/*# sourceMappingURL=BookCard.css.map */
